* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: #36395d;
  border: 5px solid red;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #50394d;
}

main {
  padding: 1rem;
  width: 90%;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #50394d;
}

ul {
  color: white;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

li {
  margin-right: 2rem;
  cursor: pointer;
}

h1,
h2 {
  color: white;
}

h2 {
  margin-bottom: 0.5rem;
}

.list-books {
  border: 2px solid white;
  z-index: 3;
}

.bookContainer {
  display: flex;
  justify-content: space-between;
  min-height: 2rem;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  z-index: 2;
}

.bookInfo {
  display: flex;
  column-gap: 0.5rem;
  font-weight: 400;
}

hr {
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 30%;
  height: 3px;
  background-color: #85afc1;
}

.remove {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: #ebc28b;
  color: #50394d;
  border: none;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
}

#book-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.add {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #ebc28b;
  color: #50394d;
  border: none;
  font-weight: 600;
  margin-top: 0.5rem;
  align-self: flex-end;
}

form input {
  padding: 0.5rem 0.2rem 0.2rem 0.5rem;
  margin: 0.5rem 0;
  border: none;
}

.invisible {
  display: none;
}

#date {
  padding: 1rem 2rem;
  color: white;
  width: 100%;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .add {
    width: 30%;
  }
}
