* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  width: 90%;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    width: 50%;
  }
}
